

/* Normal mode styles */
body {
    background-color: #fff;
    color: #000;
  }




/* Mobile optimizations */
@media screen and (max-width: 768px) {
    .intro-section {
      padding-top: 75px;
      margin-top: 75px;
    }
  
    .intro-text h2 {
      font-size: 1.5rem;
    }
  
    .intro-text p {
      font-size: 1rem;
    }
  
    .intro-video {
      max-width: 400px;
    }
  
    .search-input {
      flex-basis: 100%;
      margin-bottom: 1rem;
    }

    .hero {
        padding: 2rem 0;
      }
      
      .title {
        font-size: 2rem;
      }
    
      .subtitle {
        font-size: 1rem;
      }
    
      .btn, .btn-shop {
        height: 40px;
        width: 140px;
        font-size: 14px;
      }
      
      .btn-shop:hover {
        height: 40px;
        width: 140px;
        font-size: 14px;
      }
      
      .icon {
        width: 4rem;
        height: 4rem;
      }
    
      .hero-image {
        margin-top: 2rem;
      }

      .search-input {
        flex-basis: 60%;
    }

    .filter-select {
        flex-basis: 30%;
    }

    .filter-btn {
        flex-basis: 10%;
    }

    .grid-item {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 10px;
    }

    .card-img-top {
        height: 150px;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-text {
        font-size: 0.9rem;
    }

    .badge {
        font-size: 0.8rem;
        padding: 0.3rem 0.5rem;
    }

    .btn-purchase {
        margin-top: 0.5rem;
    }

    .hero-image img {
        max-width: 50%;
        height: auto;
    }

    .btn-effect {
        font-size: 1rem;
        padding: 0.6rem 2rem;
        margin-top: 1rem;
      }
    
      .search-form {
        flex-direction: column;
      }
    
      .search-input, .filter-select {
        flex-basis: 100%;
        margin-bottom: 1rem;
      }
    
      .filter-btn {
        flex-basis: 100%;
        margin-left: 0;
      }
    
      .button {
        height: 40px;
        width: 140px;
        font-size: 14px;
      }
    
      .dashboard-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }
    
      .dashboard__title, .transactions__title {
        font-size: 1.5rem;
      }
    
      .dashboard__balance {
        font-size: 1.2rem;
      }
    
      .transactions__text {
        font-size: 1rem;
      }
    
      .icon {
        width: 40px;
        height: 40px;
      }
    
      .button--test {
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
      }

      .trending-collections h2 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
      }
    
      .trending-card {
        margin: 0.5rem;
      }
    
      .trending-card .card-image {
        height: 150px;
      }
    
      .trending-card .card-content {
        padding: 0.5rem;
      }
    
      .trending-card .card-content h3 {
        font-size: 1rem;
      }
    
      .trending-card .card-content p {
        margin: 0.3rem 0;
      }

      .search-form {
        flex-direction: column;
        align-items: stretch;
    }

    .search-input {
        flex-basis: 100%;
        margin-bottom: 1rem;
    }

    /* Search Bar */
    .search-bar {
        padding: 5px;
        display: flex;
        justify-content: center;
    }

    .search-bar input {
        margin-right: 0;
        padding: 5px;
        font-size: 0.8rem;
    }

    .search-bar button {
        position:relative;
        padding: 5px;
        font-size: 0.8rem;
    }

    .always-visible {
        position: fixed;
        z-index: 9999;
        top: 20px; /* adjust as needed */
        right: 20px; /* adjust as needed */
      }
  }


/* For screens between 768px and 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .grid-item {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}


    


    /* INTRO */
.intro-section {
    padding-top: 150px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.intro-image img {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.intro-text {
    text-align: center;
    margin-top: 50px;
}

    .intro-text h2 {
        font-size: 2rem;
    }

    .intro-text p {
        font-size: 1.2rem;
        line-height: 1.5;
        margin-bottom: 50px;
    }

.intro-video {
    width: 100%;
    max-width: 800px;
    margin-top: 50px;
}
/* Boom Section */
.boomSection {
    background-color: indianred;
    padding: 2rem;
    text-align: center;
    color: white;
}

/* Container */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;  /* Adjust this to control space between grid items */
    margin-top: 50px;
    max-width: 1200px;
    padding: 0 1rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: black;
    background-color: indianred;
}


/* Search Form */
.search-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.search-input {
    flex-basis: 70%;
}

/* Search Bar */
.search-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}

    .search-bar input {
        flex: 1;
        margin-right: 10px;
        border: none;
        border-radius: 4px;
        padding: 10px;
        font-size: 1rem;
        color: #333;
    }

    .search-bar button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .search-bar button:hover {
            background-color: #0069d9;
        }

        @media (max-width: 768px) {
            .container {
                display:grid;
                grid-template-columns: auto;
                max-width: 100%;
                margin-top: 150px;
            }
            .search-form {
                flex-direction: column;
            }
            .search-input, .search-bar input {
                margin-bottom: 1rem;
            }
            .search-bar {
                padding: 5px;
            }
            .search-bar input, .search-bar button {
                padding: 5px;
            }
        }







/* FILTER */
.filter-select {
    flex-basis: 25%;
    margin-left: 1rem;
}

.filter-btn {
    flex-basis: 5%;
    margin-left: 1rem;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.5rem;
}

.col-md-4 {
    margin-bottom: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.grid-item {
    display: flex;
    flex-direction: column;
}





/* CARDS */
.card {
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-bottom: 20px;
}

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

.card-title {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.card-text {
    font-size: 1rem;
    margin-top: 1rem;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.badge {
    font-size: 1rem;
    margin-top: 1rem;
    display: block;
    padding: 0.5rem 1rem;
    background-color: #17a2b8;
    color: #ffffff;
    border-radius: 5px;
}

.btn-purchase {
    margin-top: 1rem;
    width: 100%;
    background-color: #28a745;
    border-color: #28a745;
}

    .btn-purchase:hover {
        background-color: #218838;
        border-color: #218838;
    }



/* For screens between 768px and 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .grid-item {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}








/* HERO */
.hero {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.hero {
    background-color: #fff;
    padding: 4rem 0;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: black;
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: black;
}


.btn {
    display: flex;
    height: 50px;
    width: 180px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: linear-gradient(319deg, #dbc816 0%, #b73a3a 37%, #b73a3a 100%);
    text-decoration: none;
    color: white;
    background: green;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s ease;
}

.btn-shop {
    display: flex;
    height: 50px;
    width: 180px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: linear-gradient(319deg, #dbc816 0%, #b73a3a 37%, #b73a3a 100%);
    text-decoration: none;
    color: white;
    background: green;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s ease;
}

    .btn-shop:hover {
        display: flex;
        height: 50px;
        width: 180px;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        background: linear-gradient(319deg, #dbc816 0%, #b73a3a 37%, #b73a3a 100%);
        text-decoration: none;
        color: white;
        background: green;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        transition: background 0.3s ease;
    }

.btn-learn {
    background-color: #0f62fe;
    border-color: #0f62fe;
}

    .btn-learn:hover {
        background-color: #4494f5;
        border-color: #4494f5;
    }

.icon {
    width: 5rem;
    
    height: 5rem;
    margin-right: 2rem;
}

.hero-image {
    margin-top: 4rem;
}

    .hero-image img {
        width: 100%;
        height: auto;
        animation: hero-image-anim 1s ease;
    }

@keyframes hero-image-anim {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}


    .hero-image::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .hero-image img {
        max-width: 100%;
        height: auto;
    }








/* BUTTON  */

.btn-effect {
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.8rem 2.5rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}

    .btn-effect:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }

    .btn-effect:active {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }

.btn-effect-blue {
    background-color: #007bff;
}

    .btn-effect-blue:hover {
        background-color: #0069d9;
    }

.btn-effect-red {
    background-color: #dc3545;
}

    .btn-effect-red:hover {
        background-color: #c82333;
    }

.zoom {
    transition: transform 0.3s ease;
}

    .zoom:hover {
        transform: scale(1.1);
    }

    




    .search-form {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        align-items: center;
    }

    .search-input {
        flex-basis: 70%;
        padding: 0.6rem 1.2rem;
        border-radius: 30px;
        font-size: 1.2rem;
        border: none;
        background-color: #f5f5f5;
        color: black;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        outline: none;
    }

    .filter-select {
        flex-basis: 25%;
        margin-left: 1rem;
        border-radius: 30px;
        font-size: 1.2rem;
        border: none;
        background-color: #f5f5f5;
        color: #555;
        padding: 0.6rem 1.2rem;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        outline: none;
    }

    .filter-btn {
        flex-basis: 5%;
        margin-left: 1rem;
        border: none;
        background-color: #d22;
        color: #fff;
        padding: 0.6rem 1.2rem;
        border-radius: 1px;
    }

    .button {
        display: flex;
        height: 50px;
        width: 180px;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        background: linear-gradient(319deg, #dbc816 0%, #b73a3a 37%, #b73a3a 100%);
        text-decoration: none;
        color: white;
        background: green;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        transition: background 0.3s ease;
    }

    .boom {
        background-color: black;
    }



    .dashboard-container {
        background-color: cornflowerblue;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;
        padding: 2rem;
    }

    .dashboard {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        padding: 1rem;
        text-align: center;
    }

    .dashboard__title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .dashboard__balance {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .transactions {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        padding: 1rem;
    }

    .transactions__title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .transactions__list {
        list-style: none;
        padding: 0;
    }

    .transactions__item {
        margin-bottom: 1rem;
    }

    .transactions__text {
        font-size: 1.2rem;
        margin: 0;
    }

   
    .zoom {
        transition: transform 0.5s ease;
    }

        .zoom:hover {
            transform: scale(1.1);
        }

    .dashboard {
        font-size: 24px;
        font-weight: bold;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin-bottom: 20px;
    }

        li p {
            margin: 0;
            font-size: 16px;
            font-style: italic;
            font-weight: normal;
            color: black;
        }



.icon {
    width: 50px;
    height: 50px;
}


.btn-effect {
    transition: background-color 0.3s ease;
}

    .btn-effect:hover {
        background-color: #dc3545 !important;
        color: #fff;
    }

.button--test {
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    background: #007bff;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

    .button--test:hover {
        background-color: #dc3545;
        color: #fff;
    }





#marketplaceItems {
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 2rem;
    justify-items: center;
    align-items: center;
    padding: 2rem;
}

    #marketplaceItems div {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        overflow: hidden;
        position: relative;
    }

    #marketplaceItems img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center;
        transition: transform 0.3s ease-in-out;
    }

    #marketplaceItems div:hover img {
        transform: scale(1.1);
    }

    #marketplaceItems .item-content {
        padding: 1rem;
        text-align: center;
    }

        #marketplaceItems .item-content h2 {
            font-size: 1.5rem;
            margin: 0;
        }

        #marketplaceItems .item-content p {
            font-size: 1.2rem;
            margin: 0.5rem 0;
        }

    #marketplaceItems button {
        display: block;
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        background-color: #008080;
        color: #fff;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

        #marketplaceItems button:hover {
            background-color: #006666;
        }

    #marketplaceItems .item-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.5);
        transition: opacity 0.3s ease-in-out;
    }

    #marketplaceItems div:hover .item-overlay {
        opacity: 1;
    }

    #marketplaceItems .item-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
        font-size: 1.5rem;
        font-weight: bold;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    #marketplaceItems div:hover .item-text {
        opacity: 1;
    }




    /* //collections */
.trending-collections {
    text-align: center;
    padding: 4rem 0;
    background-color: #f5f5f5;
}

    .trending-collections h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.trending-card {
    margin: 1rem;
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: transform 0.2s ease-out;
}

    .trending-card:hover {
        transform: translateY(-10px);
         
        cursor: pointer;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    
    }

    .trending-card .card-image {
        position: relative;
        height: 200px; /* Or any height you prefer */
    }

        .trending-card .card-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }


    .trending-card .card-content {
        padding: 1rem;
        text-align: left;
    }

        .trending-card .card-content h3 {
            margin: 0;
            font-size: 1.2rem;
            font-weight: 600;
        }

        .trending-card .card-content p {
            margin: 0.5rem 0;
        }

    .trending-card:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.4);
        z-index: 1;
        opacity: 0;
        transition: opacity 0.2s ease-out;
    }

    .trending-card:hover:before {
        opacity: 1;
    }

    .trending-card:hover .card-content h3 {
        color: #007bff;
        transition: color 0.2s ease-out;
    }

    .trending-card:hover .card-content p {
        color: #333;
        transition: color 0.2s ease-out;
    }


.jumbotron-container {
    color: black;
}


.li p {
    color: black;
}




/* STATS */
.statistics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    background-color: cornflowerblue;
}

.statistic-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(50% - 20px);
    margin-bottom: 20px;
    font-size: 25px;
    font-family: 'Open Sans', Lato;
}

    .statistic-item h2 {
        font-size: 40px;
        color: white;
        font-family: 'Monserrat';
        font-weight: bold;
        border-top: solid 1px black;
        margin: 5px;
    }

    .statistic-item p {
        
        font-family: 'Lora';
        font-weight: bold;
    }

@media screen and (max-width: 600px) {
    .statistic-item {
        width: 100%;
    }
}


.statistics-header {
    margin-top: 0;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: gold;
}

.statistics-subheader {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
    color: white;
}

.statistics-image {
    width: 100%;
    max-width: 600px;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.statistics-image-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

    .statistics-image-controls button {
        background-color: transparent;
        border: none;
        color: #666;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0 1rem;
        cursor: pointer;
    }

        .statistics-image-controls button:hover {
            color: #333;
        }

.statistics-buttons {
    display: flex;
    justify-content: center;
}

    .statistics-buttons button {
        background-color: #00bfff;
        border: none;
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 1rem 2rem;
        margin: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

        .statistics-buttons button:hover {
            background-color: #009acd;
        }


@keyframes confetti {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
    }
}

.confetti {
    width: 10px;
    height: 10px;
    background-color: #f00;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: confetti 3s ease-in-out;
    animation-fill-mode: forwards;
}



.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .Title {
    text-align: center;
  }
  
  .StyledButton {
   
    font-size: 3.2rem;
    padding: 20px 30px;
    margin-top: 20px;
  }


.appraiser-form {
    display: grid;


    max-width: 500px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.form-container {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
button.sidebar-toggle{
    color: white;
    position: fixed;

}

button.footer-button{
    color: white;
}

    button:hover {
        background-color: #0056b3;
    }

    button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }



    
      
      .account, .chainId {
        overflow-wrap: break-word;
        word-wrap: break-word;
      }
      
      .connect-button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px
        
      }
      
      .sidebar {
        
        color: #FFF;
        width: 250px;
        padding: 20px;
        font-family: 'Arial', sans-serif;
    }
    
    .sidebar-toggle {
        background-color: #343434;
        color: #FFF;
        border: none;
        padding: 10px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    
    .sidebar-heading {
        font-size: 1.2em;
        margin-bottom: 15px;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .sidebar-item {
        margin-bottom: 10px;
        margin-top: 5px;
    }
    
    .sidebar-value {
        color: #02662f;
        font-weight: bold;
    }
    
    .disconnect-button,
    .connect-button,
    .button {
        background-color: #1b1b1b;
        color: #FFF;
        border: none;
        padding: 10px 20px;
        margin-top: 15px;
        cursor: pointer;
        display: inline-block;
        text-transform: uppercase;
    }
    
    .green {
        color: green;
    }
    